<head>

</head>

<body>

  <div class="mainPage">
    <div class="workSpace">
      <div class="container">
        <div id="display">
          00:00:00
        </div>
        <div class="buttons" style="visibility:hidden;">
          <button id="startStop" onclick="startStop()" >Start</button>
          <button id="reset" onclick="reset()">Reset</button>
        </div>
      </div>
      <div class="container" style="text-align:left;" >
        <label >
          Esta pagina fue creada para poder medir el tiempo de escritura de la frase presentada<br/>
          <br/>
          <br/>
          Instrucciones:<br/>
          ꞏSe debe escribir la primera palabra que se muestra, sin tildes y sin mayusculas<br/>
          ꞏAl completar la palabra de manera correcta se limpiara el espacio de escritura y se debe comenzar con la siguiente palabra mostrada<br/>
          ꞏNo es necesario el uso de espacios ni de "Enter" para validacion de las palabras<br/>
          ꞏEn caso de equivocarse se debe borrar hasta el caracter en el cual hubo un error y seguir<br/>
          <br/>
          Importante:<br/>
          ꞏEl test comenzara apenas se seleccione el cuadro blanco donde se ingresan las palabras<br/>
          ꞏSi se desea volver a realizar el test se debe recargar la pagina<br/>
          ꞏUna vez terminado el test no volver a seleccionar el cuadro blanco donde se ingresan las palabras<br/>
        </label>
      </div>
      <div class="container">
        <div >
          <input id="inputId" type="text" onkeyup="onInputChanged()" onclick="onInputSelected()">
        </div>
        <div>
          <label id=wordsShow style="color:blue;font-size:40px;">hola</label>
        </div>
        <div>
          <label id=wordsList>hola como estas este hermoso dia de invierno escribiendo este buen mensaje para pasar el rato</label>
        </div>
        <div class="feedback">
          <div>
            <label id="feedbackLabel" style="color:red;font-size:20px;"></label>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="counters">
          <div>
            <label>OK counter: </label> <label id="okWordsLabel"> </label>
          </div>
          <div>
            <label>Error counter: </label> <label id="errorWordsLabel"> </label>
          </div>
        </div>
      </div>
    </div>

  </div>

<script>
    //Define vars to hold time values
    let seconds = 0;
    let minutes = 0;
    let hours = 0;

    //Define vars to hold "display" value
    let displaySeconds = 0;
    let displayMinutes = 0;
    let displayHours = 0;

    //Define var to hold setInterval() function
    let interval = null;

    //Define var to hold stopwatch status
    let status = "stopped";

    //Stopwatch function (logic to determine when to increment next value, etc.)
    function stopWatch(){
        seconds++;
        //Logic to determine when to increment next value
        if(seconds / 60 === 1){
            seconds = 0;
            minutes++;
            if(minutes / 60 === 1){
                minutes = 0;
                hours++;
            }
        }
        //If seconds/minutes/hours are only one digit, add a leading 0 to the value
        if(seconds < 10){
            displaySeconds = "0" + seconds.toString();
        }
        else{
            displaySeconds = seconds;
        }

        if(minutes < 10){
            displayMinutes = "0" + minutes.toString();
        }
        else{
            displayMinutes = minutes;
        }

        if(hours < 10){
            displayHours = "0" + hours.toString();
        }
        else{
            displayHours = hours;
        }

        //Display updated time values to user
        document.getElementById("display").innerHTML = displayHours + ":" + displayMinutes + ":" + displaySeconds;


    }

    function startStop(){
        if(status === "stopped"){
            //Start the stopwatch (by calling the setInterval() function)
            interval = window.setInterval(stopWatch, 1000);
            document.getElementById("startStop").innerHTML = "Stop";
            status = "started";
        }
        else{
            window.clearInterval(interval);
            document.getElementById("startStop").innerHTML = "Start";
            status = "stopped";
        }
    }

    //Function to reset the stopwatch
    function reset(){
        window.clearInterval(interval);
        seconds = 0;
        minutes = 0;
        hours = 0;
        document.getElementById("display").innerHTML = "00:00:00";
        document.getElementById("startStop").innerHTML = "Start";
    }

    //Typing test
    var words=["hola", "como", "estas", "este", "hermoso", "dia", "de", "invierno", "escribiendo", "este", "buen", "mensaje", "para", "pasar", "el", "rato"]
    let okWords = 0;
    let errorWords = 0;

    var textValue = document.getElementById("inputId").value;


    //Function to start the test when the input field is selected
    function onInputSelected(){
        if(status === "stopped"){
            startStop();
        }
    }

    function AcceptWord(){
        document.getElementById("inputId").value = "";
        okWords++;
        document.getElementById("wordsShow").innerHTML = words[okWords];
        CheckIfLastWord();
    }

    function CheckIfLastWord(){

        if (okWords === words.length){
            startStop();
            document.getElementById("wordsShow").innerHTML = "";
            document.getElementById("wordsList").innerHTML = "";
            document.getElementById("feedbackLabel").innerHTML = "Finalizaste";
        }
    }

    function RejectWord(){
        console.log("fallaste");
        if(document.getElementById("feedbackLabel").innerHTML !== "Fallaste"){
            document.getElementById("feedbackLabel").innerHTML = "Fallaste";
            errorWords++;
        }
    }

    function onInputChanged(){
        textValue = document.getElementById("inputId").value;
        let lengthText = textValue.length;
        let testWord = document.getElementById("wordsShow").innerHTML;

        testWord = testWord.substring(0, lengthText)
        if(textValue===testWord){
            document.getElementById("feedbackLabel").innerHTML = "";
        }
        if(textValue!==testWord){
            RejectWord()
        }

        if(textValue.length === words[okWords].length){
            if(textValue.toLowerCase() === words[okWords].toLowerCase()){
                AcceptWord();
            }
        }

        document.getElementById("okWordsLabel").innerHTML = okWords.toString();
        document.getElementById("errorWordsLabel").innerHTML = errorWords.toString();
    }
</script>
</body>




