<head>

</head>

<body>

<div class="mainPage">
    <div class="workSpace">
        <div class="container">
            <div id="display">
                00:00:00
            </div>

            <div class="buttons">
                <button id="startStop" onclick="startStop()">Start</button> <button id="reset" onclick="reset()">Reset</button>
            </div>
        </div>
        <div class="container">
            <div >
                <input id="inputId" type="text" onkeyup="onInputChanged()" onclick="onInputSelected()">
            </div>
            <div>
                <label id=wordsShow>
                hola
                </label>
            </div>
            <div class="counters">
                <div>
                    <label>OK counter: </label> <label id="okWordsLabel"> </label>
                </div>
                <div>
                    <label>Error counter: </label> <label id="errorWordsLabel"> </label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Define vars to hold time values
    let seconds = 0;
    let minutes = 0;
    let hours = 0;

    //Define vars to hold "display" value
    let displaySeconds = 0;
    let displayMinutes = 0;
    let displayHours = 0;

    //Define var to hold setInterval() function
    let interval = null;

    //Define var to hold stopwatch status
    let status = "stopped";

    //Stopwatch function (logic to determine when to increment next value, etc.)
    function stopWatch(){
        seconds++;
        //Logic to determine when to increment next value
        if(seconds / 60 === 1){
            seconds = 0;
            minutes++;
            if(minutes / 60 === 1){
                minutes = 0;
                hours++;
            }
        }
        //If seconds/minutes/hours are only one digit, add a leading 0 to the value
        if(seconds < 10){
            displaySeconds = "0" + seconds.toString();
        }
        else{
            displaySeconds = seconds;
        }

        if(minutes < 10){
            displayMinutes = "0" + minutes.toString();
        }
        else{
            displayMinutes = minutes;
        }

        if(hours < 10){
            displayHours = "0" + hours.toString();
        }
        else{
            displayHours = hours;
        }

        //Display updated time values to user
        document.getElementById("display").innerHTML = displayHours + ":" + displayMinutes + ":" + displaySeconds;


    }

    function startStop(){
        if(status === "stopped"){
            //Start the stopwatch (by calling the setInterval() function)
            interval = window.setInterval(stopWatch, 1000);
            document.getElementById("startStop").innerHTML = "Stop";
            status = "started";
        }
        else{
            window.clearInterval(interval);
            document.getElementById("startStop").innerHTML = "Start";
            status = "stopped";
        }
    }

    //Function to reset the stopwatch
    function reset(){
        window.clearInterval(interval);
        seconds = 0;
        minutes = 0;
        hours = 0;
        document.getElementById("display").innerHTML = "00:00:00";
        document.getElementById("startStop").innerHTML = "Start";
    }
</script>
<script>
    var words=["hola", "como", "estas"]
    let okWords = 0;
    let errorWords = 0;

    var textValue = document.getElementById("inputId").value;


    //Function to start the test when the input field is selected
    function onInputSelected(){
        if(status === "stopped"){
            startStop();
        }
    }

    function AcceptWord(){
        console.log("acertaste");

        document.getElementById("inputId").value = "";
        CheckIfLastWord();

        okWords++;
        document.getElementById("wordsShow").innerHTML = words[okWords];

    }

    function CheckIfLastWord(){
        if (okWords === words.length){

        }
    }

    function RejectWord(){
        console.log("fallaste");
        errorWords++;

    }

    function onInputChanged(){
        textValue = document.getElementById("inputId").value;

        if(textValue.length === words[okWords].length){
            if(textValue === words[okWords]){
                AcceptWord();
            }
            else{
                RejectWord();
            }
        }
        document.getElementById("okWordsLabel").innerHTML = okWords.toString();
        document.getElementById("errorWordsLabel").innerHTML = errorWords.toString();


    }

</script>






</body>


