<head>

</head>

<body>
  <div class="container">
    <div id="display">
        00:00:00
    </div>
    <div class="buttons">
      <div class="buttons">
        <button id="startStop">Start</button> <button id="reset" >Reset</button>
      </div>
    </div>
  </div>
  <div class="inputContainer">
    <input class="inputText">
  </div>
  <div class="wordsContainer">
    <label class="words">
      Palabras bacanes
    </label>
  </div>
</body>


